<% include ../partials/header %>

    <div class="jumbotron">
      <h1 class="display-4">Welcome to idkDB</h1>
      <p class="lead">This is a simple web app for keeping track of the items in your warehouse or storage area.</p>
      <hr class="my-4">
      <p>Log in or make an account to get started.</p>
      <a class="btn btn-primary btn-lg" href="/login" role="button">Log In</a>
      <a class="btn btn-outline-secondary btn-lg" href="/signup" role="button">Sign Up!</a>
    </div>



<% include ../partials/footer %>
