<% include ./partials/header %>

<!-- Login Modal -->
<div class="modal fade right" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-full-height modal-right" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Log In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form id="loginModalForm" action="/login" method="POST">
                        <div class="row">
                            <div class="form-group">
                                <label for="usernameInput">Username</label>
                                <input type="email" class="form-control col-md-12" id="usernameInput" placeholder="Enter username" name="username" aria-describedby="usernameHelp"/>
                                <small id="usernameHelp" class="form-text text-muted">Your username may be your email</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="passwordInput">Password</label>
                                <input type="password" class="form-control col-md-12" id="passwordInput" placeholder="Enter password" name="password"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-primary btn-success" type="submit" name="submit" form="loginModalForm">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Signup Modal -->
<div class="modal fade right" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-right" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signupModalLabel">Sign Up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form id="signupModalForm" action="/login" method="POST">
                        <div class="row">
                            <div class="form-group">
                                <label for="firstInput">First Name</label>
                                <input type="text" class="form-control col-md-12" id="firstInput" placeholder="John" name="firstName"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="lastInput">Last Name</label>
                                <input type="text" class="form-control col-md-12" id="lastInput" placeholder="Doe" name="lastName"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="emailInput">Email</label>
                                <input type="email" class="form-control col-md-12" id="emailInput" placeholder="JohnDoe@asuh.com" name="username"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="passwordInput">Password</label>
                                <input type="password" class="form-control col-md-12" id="passwordInput" placeholder="suh" name="password"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-primary btn-success" type="submit" name="submit" form="signupModalForm">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron">

    <h1 class="display-4">Welcome to idkDB</h1>

    <p class="lead">Created by David Hamilton, Jake Edwards, and John Carvajal</p>

    <p class="lead">The code for this open source project can be viewed at:</p>

    <a href="https://github.com/jakerumbles/Warehouse_Inventory">https://github.com/jakerumbles/Warehouse_Inventory</a>

    <h2> This website is an implementation of what is needed in the following scenario</h2>

    <p>Habitat for Humanity is a charitable organization that builds homes for poor families. Materials are
    donated by businesses and individuals in the community; and labor is contributed by volunteers.
    Habitat for Humanity is staffed by volunteers who have a wide range of technical skill levels.
    Habitat for Humanity has a warehouse for storage of building materials and home furnishings that
    will be used in their projects. Currently, there are no written records of what is in the warehouse.
    When planning a project, a project leader walks around the warehouse looking for useful items.
    These items are either gathered together in one place or tagged for later pickup.</p>

    <p>Habitat for Humanity needs a computer system to improve the utilization of the items in the warehouse.</p>

    <p>This website is designed to be used by Habitat for humanity to improve the utilization of the items in a warehouse.</p>

    <p>When items are received at the warehouse, their descriptions, quantity, and storage location within
    the warehouse will be entered into the inventory records, along with the date.></p>

    <p>When items are removed from the warehouse, the inventory records will be marked to indicate this
    fact, along with the date. The system will maintain a history of items.</p>

    <p>When planning a project, a project leader can use the system to reserve materials that are
    currently in the warehouse. The system shall prevent conflicting reservations.</p>

    <p>The system shall generate inventory reports for project leaders and the organization’s management.</p>

    <h1 class="display-4">Give it a try!</h1>

    <hr class="my-4">
    <% if(!currentUser) { %>
        <p>Log in or make an account to get started.</p>
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#loginModal">Log In</button>
        <button class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#signupModal">Sign Up</button>
        <% } %>
    </div>

    <% include ./partials/footer %>
