<% include partials/header %>

    <h1>Warehouse Inventory</h1>

    <table border="1">
      <!-- Header row -->
      <tr>
        <th>Item ID</th>
        <th>Description</th>
        <th>Category</th>
        <th>Date Recieved</th>
        <th>Storage Location</th>
        <th>Present</th>
        <th>Reserved</th>
      </tr>
      <% console.log(items.rows[0]) %>
    </table>

<% include partials/footer %>
