<% include partials/header %>

  <h2>Add A New Item To The DataBase</h2>

  <form action="/inventory" method="post">
    <div class="form-group">
      <label for="descriptionInput">Description</label>
      <input type="search" class="form-control" id="descriptionInput" name="item[description]" aria-describedby="emailHelp" placeholder="Enter description">
      <small id="emailHelp" class="form-text text-muted">Describe the item(i.e 2x4 or microwave)</small>
    </div>
    <div class="form-group">
      <label for="categoryInput">Category</label>
      <input type="search" class="form-control" id="categoryInput" name="item[category]" placeholder="furniture">
    </div>
    <div class="form-group">
      <label for="dateRevievedInput">Date Revieved</label>
      <input type="date" class="form-control" id="dateRevievedInput" name="item[dateRecieved]" placeholder="furniture">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="presentCheck" name="item[present]">
      <label class="form-check-label" for="presentCheck">Present</label>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="reservedCheck" name="item[reserved]">
      <label class="form-check-label" for="reservedCheck">Reserved</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>




<% include partials/footer %>