<% include partials/header %>

  <h2>Create a New Project</h2>

  <form action="/projects" method="post">
    <div class="form-group">
      <label for="nameInput">Name</label>
      <input type="search" class="form-control" id="nameInput" name="name" required aria-describedby="name" placeholder="Enter name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>




<% include partials/footer %>
