<% include ./partials/header %>

<div class="row">
    <div class="col-lg-12 statsHeader">
        <p class="lead">This page gives useful information about the contents of the warehouse inventory such as quantity of item categories and number of items added per day.</p>
        <hr>
    </div>
</div>

<form action="/search" method="POST">
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="descInput">Description</label>
      <input type="text" class="form-control" id="descInput" placeholder="Description" name="query[description]" aria-describedby="descriptionHelp">
      <small id="descriptionHelp" class="form-text text-dark">Search is case sensitive for now and returns any entries LIKE what you type above</small>
    </div>
  </div>
  <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputCategory">Category</label>
        <select id="inputCategory" class="form-control" name="query[category]">
          <option selected>Any</option>
          <% if(categories) { %>
              <% for(var i=0; i<categories.length;i++) { %>
              <option><%= categories[i].category %></option>
              <% } %>
          <% } else {%>
          <option>Furniture</option>
          <option>Definitely Not Furniture</option>
          <option>Definitely Not Furniture</option>
          <option>Fire Track</option>
          <% } %>
        </select>
      </div>
  </div>




  <button type="submit" class="btn btn-primary">Search</button>
</form>








<% include ./partials/footer %>
