<% include ./partials/header %>

<form action="/search" method="POST">
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="descInput">Description</label>
      <input type="text" class="form-control" id="descInput" placeholder="Description" name="query[description]" aria-describedby="descriptionHelp">
      <small id="descriptionHelp" class="form-text text-dark">Search is case sensitive for now and returns any entries LIKE what you type above</small>
    </div>
  </div>
  <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputCategory">Category</label>
        <select id="inputCategory" class="form-control" name="query[category]">
          <option selected>Any</option>
          <option>Furniture</option>
          <option>Definitely Not Furniture</option>
          <option>Definitely Not Furniture</option>
          <option>Fire Track</option>
        </select>
      </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>

    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>








<% include ./partials/footer %>
