<% include ./partials/header %>

<div class="row">
    <div class="col-lg-6">
        <canvas id="barChart" width="400" height="400"></canvas>
    </div>
    <div class="col-lg-6">
        <canvas id="doughnutChart" width="400" height="400"></canvas>
    </div>
</div>

<script type="text/javascript">
    let categories = <%- JSON.stringify(categories) %>;
    // console.log(categories);
    labelsArray = categories.map(v => {
        return v.category;
    });

    valuesArray = categories.map(v => {
        return v.count;
    });
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="../javascript/statistics.js"></script>
<% include ./partials/footer %>
