<% include ../partials/header %>

  <h2>Add A New Item To The DataBase</h2>

  <form action="/inventory" method="post">
    <div class="form-group">
      <label for="descriptionInput">Description</label>
      <input type="search" class="form-control" id="descriptionInput" name="item[description]" required aria-describedby="emailHelp" placeholder="Enter description">
      <small id="emailHelp" class="form-text text-muted">Describe the item(i.e 2x4 or microwave)</small>
    </div>
    <div class="form-group">
      <label for="categoryInput">Category</label>
      <input type="search" class="form-control" id="categoryInput" name="item[category]" required placeholder="furniture">
    </div>
    <div class="form-group">
      <label for="quantityInput">Quantity</label>
      <input type="number" class="form-control" id="quantityInput" name="item[quantity]" required placeholder="6">
    </div>
    <div class="form-group">
      <label for="storageLocationInput">Storage Location</label>
      <input type="number" class="form-control" id="storageLocationInput" name="item[storage_location]" required placeholder="0000">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="presentCheck" name="item[present]">
      <label class="form-check-label" for="presentCheck">Present</label>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="reservedCheck" name="item[reserved]">
      <label class="form-check-label" for="reservedCheck">Reserved</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>




<% include ../partials/footer %>
