h1 {
    position: relative;
    text-align: left;
}

#homeBody {
    padding-top: 20px;
}

.navbar {
    border-radius: 0px 0px .3rem .3rem
}

.btn-container{
    left: 50%;
}

.row.jumbotron {
    /* background-color: #0099cc; */
    color:black!important;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 2px;
    padding-left: 2px;
}

.inv-container {
    font-size: small;
    text-align: center;
    line-height: 1;
}

@media (min-width: 1200px){
    .col-xl-auto {
        max-width: 85vw;
    }
}

.footerBody {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#footer {
    margin-bottom: 0px;
    border-radius: .3rem .3rem 0px 0px;
}

input,label {
    display:block;
    margin: 3px;
}
