h1 {
    position: relative;
    text-align: center;
}

.btn-container{
    left: 50%;
}

.row.jumbotron {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 2px;
    padding-left: 2px;
}

.inv-container {
    font-size: small;
    text-align: center;
    line-height: 1;
}

@media (min-width: 1200px){
    .col-xl-auto {
        max-width: 85vw;
    }
}
