body {
  background: #ffffff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.nav {
  background-color: fefefe;
}

.jumbotron {
  margin-top: 2rem;
}

#newItemButton {
  background:#fdfdfd;
  color: #000000;
  /*border-radius:50%;*/
  border:0;

  position: absolute;

  top:60%; /* if circle bulb in image is at 60% set at 60% */
  left:50%;
  /*width:  100px;
  height: 100px;*/
  margin-top:  -50px;
  margin-left: -50px;
}

h2 {
  margin-top: 2rem;
}
